:root {
	--color-blue: #0A3871;
	--color-grey: #495057;
	--color-greyDark: #343A40;
    --color-lightBlue: #F3F5FC;
	--color-lightBlue2: #D8DFE8;
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
	line-height: 1.3;
	font-family: "Inter", sans-serif;
	text-decoration: none;
}
body {
	background: var(--color-lightBlue);
}
button{
	cursor: pointer;
}
header{
    width: 100%;
}
.h{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 75px;
}
.ch{
    width: 90%;
    height: auto;
    margin:auto;
    display: flex;
    align-items: center;
    gap:5em;
}
.logo{
    max-height: 45px;
    height: 100%;
    min-height: 40px;
    padding-left: 25%;
}

.c-a{
    margin: auto 40px auto auto;
	width: 90%;
	align-items: end;
	min-height: calc(100vh - 80px - 56px);
	display: grid;
	padding: 1rem;
	grid-template-columns: 2.5fr 1fr;
	gap: 1rem;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ipt{
    width: 100%;
    max-height: 350px;
    min-height: 600px;
    background:transparent;
    border : none;
    outline:none;
    font-size: 20x;
    resize: none;
}

.info{
    display: flex;
    align-items: center;
    gap:10px;
    text-align: center;
    font-size: 16px;
	color: var(--color-grey);
}

.btn{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.encrypt,
.decrypt,
.copy{
    width: 45%;
    max-width: 330px;
    min-width: 150px;
    height: 50px;
    font-size: 15px;
    background-color: var(--color-blue);
    border-radius: 25px;
    border:none;
    outline: 1px none;
    color: var(--color-lightBlue2);


}
.right{
    align-items: center;
	width: 100%;
    height: 100%;
	background: white;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 25px;
	gap: 50px;
	box-shadow:var(--color-blue)
}

.m{
    min-width: 200px;
    width: 50%;
}

.ft{
    text-align: center;
    width: 100%;
    font-size: 20px;
    color : var(--color-blue);
    border: none;
    outline:none;
    overflow: hidden;
    resize: none;
    pointer-events: none;
    font-family: "Inter", sans-serif;
	
}

footer {
    color: var(--color-blue);
    font-size: 20px;
	width: 100%;
	min-height: 50px;
	height: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}